<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Expenses - ExpensesTracker</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/offcanvas/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='expenses.css')}}" rel="stylesheet">
</head>

<body class="bg-light">
    <main role="main" class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h5 class="border-bottom-gray pb-2 mb-0">Recent updates</h5>
            {% for expense in expenses %}
            <div class="media text-muted pt-3 border-bottom-gray pb-3 
                {{'alert-danger' if expense.type_data == '0' else 'alert-success'}}">
                <div class="col-md-9">
                    {{expense.description}}
                    <span class="font-weight-bold">
                        {{'-' if expense.type_data == '0' else '+'}}${{'{:,.2f}'.format(expense.value)}}
                    </span>
                </div>
                <div class="col-md-3 text-right">
                    {{expense.date_string}}
                </div>
            </div>
            {% endfor %}
            <small class="d-block text-right mt-3">
                <a href="/see_all">See all</a>
            </small>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h5 class="border-bottom-gray pb-2 mb-2">Add new register</h5>
            <form action="/register_data" method="POST">
                <div class="form-row mb-2">
                    <div class="col">
                        <select id="type_data" name="type_data" class="custom-select mr-sm-2"
                            id="inlineFormCustomSelect">
                            <option value="0">Expense</option>
                            <option value="1">Revenue</option>
                        </select>
                    </div>
                    <div class="input-group col">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input type="number" class="form-control" id="value" name="value" placeholder="Value" required>
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col">
                        <input type="text" class="form-control" id="description" name="description"
                            placeholder="Description" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>